/* Efecto 1: Transformación 2D */

/* Efecto 2: Transformación 3D */
img {
    transform: rotateY(45deg);
}

/* Efecto 3: Transición */
p {
    transition: color 0.5s ease;

}

p:hover {
    color: red;
}

/* Efecto 4: Animación */
@keyframes mover {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}

img {
    animation: mover 1s infinite alternate;
}